  <div class="row">
    <div class="col-md-12">
	<h2>{{ name }}</h2>
	</div><!-- /col -->
  </div><!-- /row -->
{% for row in rows %}
  <div class="row">
    <div class="col-md-6">
      <a href="{{url_for('video')}}?vid={{ row[0] }}">
		<video width=100% height='auto' loop>
		  <source src="http://classy.astro.berkeley.edu/HamCams/{{ row[0] }}" type="video/mp4">
		Your browser does not support the HamCams tag.
		</video>
      </a>
	</div><!-- /col -->
  {% if row|length > 1 %}
  <div class="col-md-6">
    <a href="{{url_for('video')}}?vid={{ row[1] }}">
		<video width=100% height='auto' loop>
		  <source src="http://classy.astro.berkeley.edu/HamCams/{{ row[1] }}" type="video/mp4">
		Your browser does not support the HamCams tag.
		</video>
      </a>
    </div><!-- /col -->
  {% endif %}
  </div><!-- /row -->
{% endfor %}